{% extends 'base.html' %}

{% block title %}Customer Dashboard{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Customer Dashboard</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Welcome, {{ user.first_name }} {{ user.last_name }}</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Email:</strong> {{ user.email }}</p>
                        <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
                        <p><strong>Date of Birth:</strong> {{ user.date_of_birth }}</p>
                        <p><strong>Gender:</strong> {{ user.gender }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Contact Information</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Mailing Address:</strong> {{ user.mailing_address }}</p>
                        <p><strong>City:</strong> {{ user.city }}</p>
                        <p><strong>State:</strong> {{ user.state }}</p>
                        <p><strong>Zip Code:</strong> {{ user.zip_code }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Registration Details</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Registered On:</strong> {{ user.registration_date }}</p>
                        <p><strong>User Type:</strong> {{ user.user_type }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>Request Delivery</h3>
                    </div>
                    <div class="card-body text-center">
                        <a href="https://forms.office.com/r/3C6GrR2N2V" target="_blank" class="btn btn-primary btn-lg">Request
                            a
                            Delivery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}